/* reset config */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* padronização cores */
html{
    /* variaveis de cor */
    --corPrimaria:#017143;

    --corSecundaria:#333;

    --corTerciaria:#fff;
}

/* container principal */
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* chamar vairavel (var) */
    background-color: var(--corTerciaria);
}
/* cabeçalho */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header .logo:hover{
    filter: invert(0.1);
}
header ul li{
    list-style: none;
}
header ul{
    position: relative;
    display: flex;
}
header ul li a{
    /* garante que o elemento seja renderizado em linha dentro do bloco */
    display: inline-block;
    color: var(--corSecundaria);
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 5px;
}
header ul li a:hover{
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    border-radius: 7px;
}
/* conteudo principal */
.conteudo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudo .textoPrincipal{
    position: relative;
    /* limtita o espaço do texto */
    max-width: 600px;
}
.conteudo .textoPrincipal h2{
    color: var(--corSecundaria);
    /* 1em = 1vez o tamanhdo da fonte do elemento */
    /* 16px*2.5= 40px */
    font-size: 2.5em;
    /* espaçamneto vertical da fonte */
    line-height: 1.5em;
    font-weight: 500;
}
.conteudo .textoPrincipal h2 span{
    color: var(--corPrimaria);
    font-size: 1.2em;
    font-weight: 900;
}
.conteudo .textoPrincipal p{
    color: var(--corSecundaria);
}
.conteudo .textoPrincipal a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    text-decoration: none;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}
.conteudo .textoPrincipal a:hover{
    background-color: var(--corSecundaria);
    color: var(--corTerciaria);
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
}
/* imagem do copo grande */
.conteudo .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.conteudo .imgbox img{
    max-width: 340px;
}
/* copos menores */
.sorvetes{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.sorvetes li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.sorvetes li:hover{
    transform: translateY(-15px);
}
.sorvetes li img{
    max-width: 60px;
}
/* redes sociais */
.sociais{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sociais li{
    list-style: none;
}
.sociais li a{
    display: inline-block;
    margin: 5px 0;
    /* altera a escala de tamanho */
    transform: scale(0.6);
    /* inverte a cor para branco */
    filter: invert(1);
}
.sociais li a:hover{
    color: var(--corSecundaria);
    filter: invert(0);
}
#threads{
    height: 40px;
}
/* circulo */
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--corPrimaria);
    /* tamanho --> lado --> posição */
    clip-path: circle(600px at right 800px);
}